body {
  margin: 0;
}

main {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  left: 0;
  top: 0;
  position: fixed;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

search {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

search > * {
  width: 90%;
  max-width: 800px;
}

load {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0093ff;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.5s;
  z-index: 99;
  flex-direction: column;
  gap: 50px;
}

#login {
  width: 250px;
}

load.hidden {
  transform: translateY(100%);
  opacity: 0;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.search-container {
  margin-bottom: 10px;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 600px;
  overflow: auto;
}

.row {
  display: flex;
  padding: 10px;
  border-top: 1px solid #eee;
  cursor: pointer;
}
/* 
.row:first-child {
  border-top: none;
  font-weight: bold;
  background-color: #f4f4f4;
} */

.row:hover:not(.header) {
  background-color: #f0f8ff;
}

.cell {
  flex: 1;
}

input[type="text"] {
  padding: 6px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

footer {
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
  background-color: #0093ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer img {
  width: 60px;
}

.out {
  display: none;
}

#profile {
  width: 80%;
  overflow-y: auto;
}

#profile fieldset {
  border: 1px solid gray;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
}

.main {
  width: 80%;
}

#profile fieldset legend {
  color: gray;
}

#calendar {
  height: 100%;
}

#month {
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  height: 95%;
}

.day {
  border: 1px solid black;
  width: 100%;
  /* height: 80px; */
}

#monthlabel {
  display: inline;
}

#calendar span {
  cursor: pointer;
}

button {
  background-color: #0093ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  margin-top: 10px;
}

.person-tag {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f0f8ff;
  border-radius: 15px;
  margin-right: 5px;
  margin-top: 3px;
  cursor: pointer;
  border: #0093ff 1px solid;
}

.person-tag:hover {
  background-color: #e0f0ff;
}

.hidden {
  display: none !important;
}

#person_select_modal,
#add_person {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 3px solid black;
  align-items: center;
  left: 50%;
  position: fixed;
  top: 50%;
  background-color: white;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
  transform: translate(-50%, -50%);
  box-shadow: black 10px 10px 20px;
  z-index: 100;
  max-height: 80%;
  overflow-y: auto;
}